<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.matparacriancas.matematicaparacriancas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.matparacriancas.Soma" />
        <activity android:name=".Soma" />
        <activity android:name=".Subtracao" />
        <activity android:name=".Multiplicacao" />
        <activity android:name=".Divisao" />
        <activity android:name=".SomaNormal" />
        <activity android:name=".SubtracaoNormal" />
        <activity android:name=".DivisaoNormal" />
        <activity android:name=".DivisaoQuiz" />
        <activity android:name=".ModoQuizMult" />
        <activity android:name=".ModoNormalMult" />
        <activity android:name=".FinalTempoMult" />
        <activity android:name=".FinalNormalMult"></activity>
    </application>

</manifest>